@import "bootstrap";

.btn-show {
  @extend .btn;
  @extend .btn-primary;
}

.btn-edit {
  @extend .btn;
  @extend .btn-success;
}

.btn-destroy {
  @extend .btn;
  @extend .btn-danger;
}

.actions {
  margin: 10px;
}

.email {
  color: #999;
}

.simple-form {
  textarea {
    width: 80%;
    height: 200px;
  }
}
