// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.report-pictures {
  overflow: hidden;

  li {
    width: 230px;
    float: left;

    input[type=file] {
      width: 100%;
    }
  }

  li.template {
  	display: none;  }
}

.slug-suggestion {
  display: none;
}

